$colorBack: linear-gradient(0deg, rgba(255,196,0,1) 0%, rgba(255,246,134,1) 100%);
$colorTitle: rgb(255, 255, 255);


$phoneWidth: 320px;
$tabletWidth: 860px;
$normalWidth: 2200px;

body {
    background: $colorBack;
    min-height: 100vh;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    @media (max-width: 860px) {
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 440px) {
        grid-template-columns: 1fr ;
    }
    gap: 1rem;
    justify-self: center;
}

.container > .item > div > img{
    width: 200px;
    min-height: 300px;

}

.container > .item > div {
    text-align: center;
}

.main-page{
    margin: 0 auto;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    max-width: 600px;
}

.main-page > input{
    border: none;
    border-radius: 10px;
    text-align: center;
    width: 400px;
    height: 2rem;
    margin: 2rem;
    box-shadow: 2px 2px 20px 0px rgba(9, 9, 9, 0.23);
    &::placeholder{
        text-align: center;
    }
    @media (max-width: 440px) {
        width: 80vw;
    }
}

.item{
    // border: 1px solid black;
    margin-top: 1rem;
    width: 200px;
    background-color: $colorTitle;
    .year{
        background-color: black;
        color: white;
    }
}